:root{
    --color-secundario: #449c44;
    --color-texto: rgb(255, 235, 205);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
  }
  
a{
    text-decoration: none;
    color: var(--color-secundario);
}

body{
    background: #000;
    color: var(--color-texto);
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2em;

}
/* scroll lateral*/

body::-webkit-scrollbar{
    width: 10px;
    background: rgba(39, 39, 39, 0.979);
}

body::-webkit-scrollbar-thumb{
    background: var(--color-secundario);
    border-radius: 4px;
}

/*btn scroll top*/ 

.btn-scrolltop {
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 15px 20px;
    background-color: var(--color-secundario);
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(200px);
    transition: 0.5s;
    z-index: 999;
  }
  
  .btn-scrolltop-on {
    transform: translateX(0);
  }
  


/*view port*/

header{
    background-color: rgba(39, 39, 39, 0);
    position: fixed;
    width: 100%;
    z-index: 999;
    font-size: 1.2em;
    transition:all 0.2s;
}

header.header2{
    background-color: rgba(39, 39, 39, 0.979);
    font-size: 1em;
}

header.header2 .logo{
    width: 6em;
}


h2{
    font-weight: 800;
    font-style: italic;
    font-size:2.5em;
}

.logo{
    width: 9em;
    margin-left: 10px;
    transition: 0.5s;
}

.logo:hover{
    transform: scale(1.2);
}

.navbar-toggler{
    border: none;
}

.collapse{
    justify-content:end; 
}

.nav-link{
    
    margin-left: 100px;
    color: var(--color-texto);
    transition: 0.5s;
}

.nav-link:hover{
    color: var(--color-texto);
}

.navbar-nav a{
    position: relative;
}


.navbar-nav a::after{
    content: "";
    background: var(--color-secundario);
    position: absolute;
    left: 0;
    top:80%;
    width: 100%;
    height: 2px;
    opacity: 0;
}

.navbar-nav a:hover::after{
    opacity: 0.8;
    transition: all 0.6s ease 0s;
}

#banner{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.445)),
    url(/img/banner-oficial.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 70vh;
    justify-content: center;
    align-items:end;
}

#text img{
    min-width:100%;
    padding-top: 170px;

    /*animacion*/
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes aparicion {
    0%{
      opacity: 0;
      transform: scale(1.4) translateY(-20px);
    }

    100%{
      opacity: 0.7;
      transform: scale(1) translateY(0);
    }
}


.about{
    justify-content: center;
}

.spoty .row{
    justify-content: center;
    align-items: center;
}

.spoty img{

    min-width: auto;
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.322);
}

/*galeria de videos*/ 


.videos img {
    width: 100%;
    transition: 0.5s;
    margin-bottom: 15px;  
    border-radius: 12px;
}

.videos iframe{
    width: 100%;
    height: 350px;
}
.videos a{
    text-decoration: none;
}
.videos .col-md-3{
    
    margin: 0 !important;
}

.videos img:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.322);
}

/*ultimo estreno*/

.v-yt{
    max-width: 50%;
    
}

.estrenos {
    text-align: center;
}

.estrenos .col-md-12{
    height: 70vh;
}

.estrenos iframe{
    width: 100%;
    height: 100%;
}

/*carrusel y spoty*/

.carrusel h2{
    text-align: center;
    padding: 50px 0px;
}


.gal{
    border-radius: 10px;
    
}

#spoty-gal{
    text-align: center;
    padding-top: 25px;
}



/*integrantes*/ 

.banda{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banda hr{
    display: inline-block;
    width: 60%;
    color: var(--color-texto);
}

.banda .col-lg-2{
    border:1px solid var(--color-secundario); 
    margin: 10px 30px;
}

.banda a,
footer a{
    display: inline-block;
    text-decoration: none;
    color:#1ed760;
    transition: all 0.5s;

}

.banda a:hover,
footer a:hover{
    color:#fa586a;
    transform: scale(0.95);
}

.banda i{
    transition: all 0.6s;
}

.banda i:hover{
   transform: scale(1.2);
}
/*redes links*/

.redes{
    justify-content:center;
    padding-bottom: 150px;
}

.redes a{
    font-size: 2em;
    color: #fff;
    margin: 0px 25px 0px 25px;
}

.redes i{
    font-size: 1.5em !important;
    transition: all ;
}

.redes .text-center{
    padding: 15px 50px 15px 50px;
}
.seguinos h3{
    margin-bottom: 50px;
}

/*hover redes*/ 

.bi-facebook:hover{
    color: #1877f2;
}

.bi-spotify:hover{
    color: #1ed760;
}

.bi-youtube:hover{
    color: #f00;
}

.bi-tiktok:hover{
    color: rgba(254, 44, 85, 1);
}

.bi-instagram:hover{
   color: #d6249f;
}

.bi-music-note-beamed:hover{
    color:#fa586a;
}

/*footer*/ 

footer{
    background-color: rgba(39, 39, 39, 0.979); 
    padding-top: 20px;
}

@media (max-width:991px) {
    .navbar-nav{
        background-color: rgba(39, 39, 39, 0.425);
    }

    .navbar-nav a::after{
        content: "";
        background: var(--color-secundario);
        position: absolute;
        left: 0;
        top:80%;
        width: 80px;
        height: 2px;
        opacity: 0;
    }

    .nav-link{
        margin-left: 30px;
    }

    .logo{
        margin-left: 0px;
    }
}

@media (max-width: 768px){
    #banner{
        background-size:cover;
        background-repeat: no-repeat;
        height: 50vh;
    }
    
    
    .banda .col-lg-2{
        width: 90%;
    }

    .navbar-nav a::after{
        content: "";
        background: var(--color-secundario);
        position: absolute;
        left: 0;
        top:80%;
        width: 80px;
        height: 2px;
        opacity: 0;
    }

    .nav-link{
        margin-left: 30px;
    }

}

